@import "tailwindcss";

:root {
  --background: #ddd1c0;
  --foreground: #292420;
  --border: solid #292420 1px;
  --description: #551717;
  --link: #000097;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border: solid #ededed 1px;
    --description: #ff6f6f;
    --link: #9090ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 800;
}

.main {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 10px;
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  border: var(--border);
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
}

input {
  background-color: var(--foreground);
  color: var(--background);
  padding: 0 3px;
}

textarea {
  background-color: var(--foreground);
  color: var(--background);
  padding: 6px;
  field-sizing: content;
}

select {
  border: var(--border);
  outline: none;
}

option {
  color: var(--background);
  background-color: var(--foreground);
}

#output {
  width: 100%;
}

button {
  background-color: var(--foreground);
  padding: 4px 8px;
  color: var(--background);
  cursor: pointer;
}

a {
  color: var(--link);
  text-decoration: underline;
}

#field-list {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2px;
  row-gap: 2px;
}

.input-field {
  padding: 8px;
  border: var(--border);
}

.input-field-label {
  margin-right: 2px;
}

.array-field-entries, .object-field-entries {
  margin-top: 8px;
  margin-left: 20px;
  display: grid;
  row-gap: 2px;
}

[data-is-invisible="true"] {
  display: none;
}

.field-description {
  color: var(--description);
}

#output-area {
}

@media (min-width: 1000px) {
  .main {
    max-width: 1000px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  #output-area {
    height: min-content;
    align-self: end;
    position: sticky;
    bottom: 20px;
  }
}